<!DOCTYPE html>
<html>
    <%- include('./partials/head'); %>
    <body>
        <h1 data-testid="title">
            LnPay
        </h1>
        <div>
            <a href="https://swiss-bitcoin-conference.com/" target="_blank">Swiss Bitcoin Conference</a> Nerd Academy
        </div>
        <% if (errorMessage) { %>
            <div>
                &nbsp;
            </div>
            <div>
                <input value="<%=errorMessage%>" readonly>
            </div>
        <% } %>
        <h2>
            Api
        </h2>
        <div>
            <a href="/redocly" target="_blank">/redocly</a> Api docs
        </div>
        <div>
            <a href="/swagger" target="_blank">/swagger</a> Api docs and testing
        </div>
        <h2>
            App
        </h2>
        <div>
            <a href="/pay/address">Pay</a> with Lightning Address
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            &copy; <a href="https://bitagent.ch" target="_blank">bitagent.ch</a>
        </div>
    </body>
</html>
