
body {
    max-width: 50rem;
    margin: auto;
    background: #2d3436;
    color: #dfe6e9;
    font-family: sans-serif;
    font-size: 2rem;
}

h1, h2 {
    color: #dfe6e9;
    font-family: monospace;
}

button, button:visited {
    background: dodgerblue;
    color: #dfe6e9;
    font-family: monospace;
}
button:disabled {
    background: #2d3436;
}

a, a:hover, a:visited {
    color: dodgerblue;
    font-family: monospace;
    text-decoration: none;
}

input {
    width: 100%;
}
input:read-only, textarea:read-only {
    background-color: #2d3436;
    color: #dfe6e9;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
}
